## Managing a SQLite Database

Behind this lab, there are three objectives:

- Create and manipulate a SQLite database
- Use Python (sqlite3) to interact with the database
- Write basic SQL commands

In [1]:
import sqlite3

With sqlite3, connecting to a database involves two objects:

- conn: connection object
- cur: cursor object used to execute SQL commands

To create a connection, use sqlite3.connect() and pass the database file name "database_name.db" as an argument. If the database does not exist, SQLite automatically creates it in the specified file. <br>
The Connection object then allows you to create a cursor, by calling the cursor method, in order to execute SQL commands.

Create a database "students.db" in the current directory as well as the required connection and cursor objects.

In [ ]:
# Your code here
conn = ...
cur = ...

Complete the following code to create a table students with the following columns:

- id: integer, primary key
- name: text
- age: integer

In [ ]:
cur.execute("""
CREATE TABLE IF NOT EXISTS ... (
    ... ... PRIMARY KEY,
    name TEXT,
    ... ...
)
""")
conn.commit()

Insert the following students into the table:

| name    | age |
| ------- | --- |
| Alice   | 25  |
| Bob     | 30  |
| Charlie | 22  |

In [ ]:
students = ...
cur.executemany("INSERT INTO students (name, age) VALUES (?, ?)", students)
conn.commit()

Retrieve and display all students.

In [ ]:
cur.execute("SELECT * FROM ...")
for row in cur.fetchall():
    print(...)

Complete the previous code to retrieve only students whose age is strictly greater than 24. To do this, you need to add a WHERE condition to the query.

In [ ]:
# Your code here

Today is Charlie's birthday and we do not have automatic age updates... Update Charlie's age to 23. Verify the effect of the command.

In [ ]:
cur.execute("UPDATE ... SET ... = ? WHERE name = ?", (..., "Charlie"))
conn.commit()

In [ ]:
print(cur.execute("SELECT * FROM students WHERE name = 'Charlie'").fetchall())

Retrieve directly from the database the students sorted by increasing age. The ORDER BY field_name ASC clause allows you to perform this sort.

In [ ]:
# Your code here

Using the previous syntax for formatting queries, figure out how to delete the student Bob and execute this command. Verify the effect of this command.

In [ ]:
# Your code here

Close the connection (find the syntax in the documentation). Then verify the effect of executing a query after this closure.

In [ ]:
# Your code here

Look at the script example/equivalent_postgres.py and identify the common points and the main differences between using a SQLite database with sqlite3 and PostgreSQL with psycopg2.